html{
	font-size:100%;
}
body{
	height: 100%;
	color:white;
	background: #FF5600; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FF5600, #FFD100) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF5600, #FFD100) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF5600, #FFD100) fixed; /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FF5600, #FFD100) fixed; /* Standard syntax */
}
h1{
	margin:0px;
	font-size:60px;
	font-family:Impact, Charcoal, sans-serif;
	background-color:rgb(62,64,149);
	color:rgb(255,242,18);
	text-align:center;
	text-align:center;
	text-transform:uppercase;
}
h2{
	font-size:30px;
	font-family:"Carter One", Gadget, sans-serif;
	background-color:rgb(62,64,149);
	text-align:center;
	text-transform:capitalize;
}
p{
	font-size:14px;
	text-align:justify;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.coverimage{
	background-image:url('../img/covers/coverModel.jpg');
	background-size: cover;
	display: block;
	width: 100%;
	height: 200px;
}

nav{
	font-size:18px;
	font-family:"Carter One", Gadget, sans-serif;
	color:white;
	text-transform:capitalize;
}
	nav ul{
		list-style-type:none;
	}
	nav a{
		color:white;
		text-decoration:none;
		display:block;
	}
	nav li{
		display:inline;
		margin: 0px 10px;
	}

.nav-relative-menu{
	position:relative;
	top:-100px;
	margin-bottom:-100px;
	width: 100%;
}

.navbar{
	padding: 0px;
    display: inline-flex;
    flex-wrap: inherit;
    width: 100%;
}

.navbar .show{
	position: absolute;
    border: 0;
	background-color: white;
	z-index: 1;
	top: 130px;
}

.menu{
	position: relative;
	background-color: rgb(62,64,149);
	border: 2px;
    border-color: white;
    border-bottom-style: solid;
	border-top-style: solid;
	z-index: 2;
}

	.mobile{
		top: 36px;
		width: 80px;
		height: 46px;
	}
	.standard{
		top: 18px;
		width: inherit;
		height: 67px;
	}

#highlight{
	text-transform: uppercase;
}

.container{
	margin-bottom: -30px;
	position: relative;
	top: -30px;
	background-color: white;
	min-height:400px;
	padding: 0px;
}

footer{
	bottom: 0px;
	width:100%;
	background: #3E4095; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3E4095, #282A60); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3E4095, #282A60); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3E4095, #282A60); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#3E4095, #282A60); /* Standard syntax */
	padding: 5px 20px 5px 20px;
	z-index: 100;
}
	footer a{
		color: white;
	}
	footer a:hover{
		color: #FFD100;
	}

.btn {
	background-color: #ED3237;
	color: white;
	width: 64px;
	height: 64px;
	border: none;
	border-radius: 50%;
    padding: 12px 16px;
    cursor: pointer; /* Mouse pointer on hover */
}

/* Lighter background on mouse-over */
	.btn:hover {
		background-color: rgb(235, 90, 94);
	}

.icones-sociais{
	position: absolute;
	right: 20px;
    top: -55px;
    z-index: -1;
}

